

.dataInfor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setButtonTicket {
    color: #fff;
    width: 100%;
    font-size: 25px;
    margin-top: 25px;
    background-color: #fb4226;
    height: 55px;
    border: none;
    border-radius: 20px;
}